@import "../selectors";
@import "../animations";

// ---------------------------------------------------------------------------------------------------------------------
// Remove the border separating the side dock from the title bar.
// ---------------------------------------------------------------------------------------------------------------------

#{$select-workspace} {
	#{$select-workspace-main-content} > .workspace-leaf-content > .view-header,
	#{$select-workspace-sidebar-content} > .workspace-leaf-content > .view-header,
	#{$select-workspace-sidebar-content} > .workspace-leaf-content > .nav-header {
		// Change the view/nav height to be a fixed size, and not depend on the viewport height.
		min-height: var(--fluent-nav-height);
		height: var(--fluent-nav-height);

		// Add a border to the bottom.
		border-bottom: var(--divider-color) 1px solid;

		// Use the fluent focus transition.
		@include transition-frame-background;

		// Use the fluent focus colors.
		background: var(--fluent-frame-secondary);
		body.is-focused & {
			background: var(--fluent-frame-secondary-focused);
		}
	}

	// Hide the fade out on the view header.
	// We can't transition linear gradients with CSS, so it just has to be disabled.
	#{$select-workspace-main-content} > .workspace-leaf-content > .view-header > .view-header-title-container::after {
		display: none;
	}

	// Force the sidebar nav-headers to be visible.
	// This is needed to keep the spacing consistent.
	#{$select-workspace-sidebar-content} > .workspace-leaf-content > .view-header {
		display: block !important;
		&>* {
			display: none;
		}
	}

	// Change the tab bar's active tab color.
	#{$select-workspace-main-tabs} {
		// Use the fluent focus transition.
		> .workspace-tab-header:not(:hover).is-active {
			@include transition-frame-background;

			// Apply to tab curve.
			&::before, &::after {
				will-change: box-shadow;
				transition: box-shadow $animation-speed-window-focus ease;
			}
		}

		// Use the fluent focus colors.
		--tab-background-active: var(--fluent-frame-secondary);
		body.is-focused & {
			--tab-background-active: var(--fluent-frame-secondary-focused);
		}
	}
}
