// -----------------------------------------------------------------------------
// Change the window frame decorations (minimize, maximize, close buttons) to
// look more like Windows 11.
// -----------------------------------------------------------------------------

$rect: 10px;
$titlebar-margin: 4px;
$h-padding: 18px;
$v-height: 40px;
$v-height-in-obsidian-frame: 28px;

// Resize the titlebar buttons.
%titlebar #{$select-when-windows} .titlebar-button {
	&.mod-minimize,
	&.mod-maximize,
	&.mod-close {
		padding: 0 $h-padding !important;
	}

	@include when-frame("hidden") {
		height: $v-height;
	}

	@include when-frame("obsidian") {
		height: $v-height-in-obsidian-frame;
	}
}

body #{$select-when-windows} {
	$original-right-space: 126px;
	$updated-right-space: $original-right-space - (3 * 14px) + (3 * $h-padding);
	--frame-right-space: #{$updated-right-space + $titlebar-margin} !important;
}

// Change the icons.
%titlebar #{$select-when-windows} .titlebar-button {
	position: relative;

	&.mod-minimize,
	&.mod-maximize,
	&.mod-close {
		& > svg {
			visibility: hidden;
			width: $rect;
			height: $rect;
		}

		&::before,
		&::after {
			display: block;
			content: "";

			position: absolute;
			top: calc(100% / 2 - math.div($rect, 2));
			left: $h-padding;
			width: $rect;
			height: $rect;
			background: currentColor;
		}

		&::after {
			display: none;
		}
	}
}

// Minimize button.
%titlebar #{$select-when-windows} .mod-minimize::before {
	@include when-windows {
		$stroke: 1px;
		$offs: 5.5px;

		clip-path: polygon(
			0 ($offs - math.div($stroke, 2)),
			0 ($offs + math.div($stroke, 2)),
			$rect ($offs + math.div($stroke, 2)),
			$rect ($offs - math.div($stroke, 2))
		);
	}
}

// Maximize button.
%titlebar #{$select-when-windows} #{$select-when-app-not-maximized} .mod-maximize {
	$stroke: 1px;

	&::before {
		clip-path: polygon(
			0 0,
			0 $rect,
			$rect $rect,
			$rect 0,
			0 0,
			$stroke $stroke,
			($rect - $stroke) $stroke,
			($rect - $stroke) ($rect - $stroke),
			$stroke ($rect - $stroke),
			$stroke $stroke
		);
	}
}

%titlebar #{$select-when-windows} #{$select-when-app-maximized} .mod-maximize {
	$stroke: 1px;

	&::before {
		clip-path: polygon(
			0 (2px),
			0 ($rect),
			($rect - 2px) ($rect),
			($rect - 2px) (2px),
			0 (2px),
			$stroke (2px + $stroke),
			($rect - $stroke - 2px) (2px + $stroke),
			($rect - $stroke - 2px) ($rect - $stroke),
			$stroke ($rect - $stroke),
			$stroke (2px + $stroke)
		);
	}

	&::after {
		display: block;
		clip-path: polygon(
			(2px) 3px,
			(2px) 0,
			$rect 0,
			$rect ($rect - 2px),
			($rect - 3px) ($rect - 2px),
			($rect - 3px) ($rect - 2px),
			($rect - $stroke) ($rect - 3px),
			($rect - $stroke) $stroke,
			(3px) $stroke,
			(3px) 3px
		);
	}
}

// Close button.
%titlebar #{$select-when-windows} .mod-close::before {
	$stroke: 1px;

	clip-path: polygon(
		math.div($rect, 2) (math.div($rect, 2) - math.div($stroke, 2)),
		math.div($stroke, 2) 0,
		0 math.div($stroke, 2),
		(math.div($rect, 2) - math.div($stroke, 2)) math.div($rect, 2),
		0 ($rect - math.div($stroke, 2)),
		math.div($stroke, 2) ($rect),
		(math.div($rect, 2)) (math.div($rect, 2) + math.div($stroke, 2)),
		($rect - math.div($stroke, 2)) ($rect),
		($rect) ($rect - math.div($stroke, 2)),
		(math.div($rect, 2) + math.div($stroke, 2)) math.div($rect, 2),
		($rect) math.div($stroke, 2),
		($rect - math.div($stroke, 2)) 0
	);
}
