$select-titlebar: ".titlebar";
$select-workspace: ".app-container > * > .workspace";
$select-tooltip: ".tooltip";
$select-menu: ".menu";

// Header components for the app.
// (e.g. tab bar background, ribbon.)
$select-app-headers: "\
	.mod-top .workspace-tab-header-container, \
	.workspace-tab-header-container, \
	.workspace-ribbon.side-dock-ribbon.mod-left::before";

// The docked sidebar.
$select-workspace-side-dock: "\
	.workspace-ribbon.side-dock-ribbon.mod-left";

// The workspace splits.
$select-workspace-main-tabs: "\
	.workspace-split.mod-root > .workspace-tabs \
	> .workspace-tab-header-container \
	> .workspace-tab-header-container-inner \
";

$select-workspace-main-content: "\
	.workspace-split.mod-root > .workspace-tabs > .workspace-tab-container > .workspace-leaf";

$select-workspace-sidebar-content: "\
	.workspace-split:not(.mod-root) .workspace-tab-container > .workspace-leaf";

// Header components for the workspace.
// (e.g. view header, sidebar header)
$select-workspace-headers: "\
	#{$select-workspace-main-content} > .workspace-leaf-content > .view-header, \
	#{$select-workspace-sidebar-content} > .workspace-leaf-content > .view-header, \
	#{$select-workspace-sidebar-content} > .workspace-leaf-content > .nav-header \
";

// The components of the middle pane.
$select-mid-container: "#{select-workspace} > .mod-root > .workspace-tabs > .workspace-tab-container > .workspace-leaf > .workspace-leaf-content";
$select-mid-header: "#{select-mid-container} > .view-header";
$select-mid-body: "#{select-mid-container} > .mod-root > .workspace-tabs > .workspace-tab-container > .workspace-leaf > .workspace-leaf-content > .view-content";
