@import "../selectors";

#{$select-workspace} .workspace-tab-header {
  &.is-active {
    font-weight: 500;
  }

  > .workspace-tab-header-inner {
    > * {
      font-size: 12px;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Give the sidebars the background color.
// ---------------------------------------------------------------------------------------------------------------------

#{$select-workspace} {
	#{$select-workspace-sidebar-content} {
		background: var(--background-secondary) !important;
	}
}
